[submodule "automated_IUTs/coap_client_coapthon/CoAPthon"]
	path = automated_IUTs/coap_client_coapthon/CoAPthon
	url = https://github.com/fsismondi/CoAPthon.git
	branch = finterop
[submodule "automated_IUTs/coap_server_coapthon/CoAPthon"]
	path = automated_IUTs/coap_server_coapthon/CoAPthon
	url = https://github.com/fsismondi/CoAPthon
